<!--
================================================================================
@description: Template for the `app-about` component
================================================================================
!-->

<div class="page-wrapper">
	<div class="content-container">
		<p-image
			src="{{profilePicture}}"
			alt="A picture of Bryce Nagaj"
			styleClass="circular-profile">
		</p-image>
		<p-terminal
			welcomeMessage="Enter `hello` to learn more about Bryce Nagaj"
			prompt="$"
		></p-terminal>
	</div>
</div>
