<!--
================================================================================
@description HTML template for the 'app-footer' component
================================================================================
!-->

<footer class="app-footer">
  <div class="license-disclaimer">
  	<p>
  		@Copyleft {{ currentYear }}
  		This website is free software: you can redistribute it and/or modify it under the terms of the
        <a href="https://www.gnu.org/licenses/gpl-3.0.html" target="_blank" rel="noopener noreferrer">
        	GNU GPL v3.0
      	</a>
    </p>

    <div class="attributions">
      <span>
        Built with
        <i
        	class="pi pi-prime attribution-icon"
        	title="PrimeNG">
    	</i>
        <a
        	href="https://primeng.org/"
        	target="_blank"
        	rel="noopener noreferrer">
        		PrimeNG
        </a>
      </span>
      <span class="separator">|</span>
      <span>
        Icons by
        <a
        	href="https://github.com/primefaces/primeicons"
        	target="_blank" rel="noopener noreferrer">
        		PrimeIcons
        </a>
        &amp;
        <a
        	href="https://www.flaticon.com/free-icons/keycap"
        	title="Kason Koo">
        		Kason Koo
        </a>
      </span>
    </div>
  </div>
</footer>
