<!--
================================================================================
 @description HTML template for the 'Keycap' component
================================================================================
!-->

@if (url()) {
    <a
        [href]="url()"
        target="_blank"
        rel="noopener noreferrer">
        <button
            (click)="clickKeycap()"
            (window:keydown)="handleKeyDown($event)">
        <img
            [src]="pathToIcon()"
            [alt]="alt()">
        </button>
    </a>
}
@else if (route()) {
    <button
        (click)="clickKeycap()"
        (window:keydown)="handleKeyDown($event)">
        <img
            [src]="pathToIcon()"
            [alt]="alt()"/>
    </button>
}
@else {
    <button
        (click)="clickKeycap()" (window:keydown)="handleKeyDown($event)">
      <img
          [src]="pathToIcon()"
          [alt]="alt()">
    </button>
}
