/**
 * =============================================================================
 * @description: Styling for the `app-silhouette` component
 * =============================================================================
 */

:host {
  --p-terminal-color: black;
  --p-terminal-background: #ebdbb2;
  --p-terminal-border-color: var(--color-alternate-background);
}

/* Wrapper for the primary content container */
.page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-top: 6rem;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

/* Silhouette */
:host ::ng-deep .silhouette {
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 25vw;
    max-width: 100%;
    height: auto;
    display: block;
  }
}
