/**
 * =============================================================================
 * @description: Styling for the root app component
 * =============================================================================
 */

:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

app-footer {
  margin-top: auto;
}


.dock-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4px;
}
