/**
 * =============================================================================
 * @description Styling for the 'app-menubar' component
 * =============================================================================
 */

:host {
	--p-menubar-background: #1d2021;
	--p-menubar-border-color: var(--color-alternate-background);
	--p-menubar-item-focus-background: var(--color-link-text);
	--p-menubar-item-icon-focus-color: black;
	--p-menubar-item-focus-: black;
}
