/**
 * =============================================================================
 * @description Styling for the 'app-menubar' component
 * =============================================================================
 */

:host {
	--p-menubar-background: #1d2021;
	--p-menubar-border-color: var(--color-alternate-background);
	--p-menubar-item-focus-background: var(--color-link-text);
	--p-menubar-item-icon-focus-color: black;
	--p-menubar-item-focus-color: black;
}

:host ::ng-deep .p-menubar .p-badge,
:host ::ng-deep .p-menubar .p-menuitem-badge {
	background-color: var(--color-alternate-background);
	color: black;
	font-size: 0.7rem;
	padding: 0.2rem 0.45rem;
	min-width: auto;
	height: auto;
	border-radius: 4px;
}
