<!--
================================================================================
@description: Template for the `app-resume` component
================================================================================
!-->

<p-button
	icon="pi pi-download"
	(onClick)="onDownloadBtnClick()">
</p-button>

<div class="resume-container">
	<pdf-viewer
	  	[src]="resumeFilePath"
	  	[render-text]="true"
	 	[original-size]="false"
	  	style="width: 100%; height: 90vh; display: block;">
	</pdf-viewer>
</div>
