<!--
================================================================================
@description: Template for the `app-resume` component
================================================================================
!-->

<div *ngIf="isLoading">Downloading PDF from Backblaze B2...</div>

<div class="download-btn">
	<p-button
		label="Download"
		icon="pi pi-download">
	</p-button>
</div>

<div
	*ngIf="pdfSrc"
	class="resume-container">
	<pdf-viewer
	  	[src]="pdfSrc"
	  	[render-text]="true"
	 	[original-size]="false"
	  	style="width: 100%; height: 90vh; display: block;">
	</pdf-viewer>
</div>
