/**
 * =============================================================================
 * @description: Styling for the `app-resume` component
 * =============================================================================
 */

/* Aligns the download button */
.download-btn {
	display: flex;
	justify-content: flex-end;
	margin-right: 7.5%;
	margin-top: 1rem;
}

/* Enfoces margins around the pdf viewer */
.resume-container {
	height: 100%;
	margin-right: 7.5%;
	margin-left: 7.5%;
	margin-top: 1rem;
}
